/* --- Fonts --- */

@font-face {
    font-family: 'Daydream';
    src: url('../fonts/Daydream.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rainyhearts';
    src: url('../fonts/rainyhearts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --- General Styling --- */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

main.layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  transition: opacity 0.5s ease;
}

img {
  max-width: 100%;
  height: auto;
  padding: 10px 10px;
}

.gif.left {
  justify-self: end;
}

.gif.right {
  justify-self: start;
}

h1 {
    font-family: 'rainyhearts', sans-serif;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
}

p {
    font-family: 'rainyhearts';
    font-size: 2em;
}

label {
    font-family: 'rainyhearts';
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 12px;
}

button {
    font-family: 'rainyhearts';
    font-size: 2em;
}

#inequality {
  font-family: 'rainyhearts';
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.puzzle-layout.hidden {
  display: none;
}


.puzzle-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.content.hidden {
  display: none;
}

/* --- Button Styling --- */

.button_container {
    display: grid;
    justify-items: center;
}

.answer_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

@media (max-width: 700px) {

  .puzzle-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "content"
      "bottom";
    text-align: center;
  }

  .gif.left {
    grid-area: top;
  }

  .content {
    grid-area: content;
  }

  .gif.right {
    grid-area: bottom;
  }

  .gif {
    max-width: 150px;
    margin: 20px auto;
  }

  input, button {
    width: 100%;
  }
}



